<div class="container">
  <div class="row">
    <div class="col">

      <div class="card mb-3 " style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../assets/img/logo.png" class="card-img" alt="logo toranj">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <form>
                <h2 class="card-title">Sign in - Toranj</h2>

                <div class="form-field">
                  <h4>Email address</h4>
                  <input [(ngModel)]="email" type="text" name="email" placeholder="Email address">
                </div>

                <div class="form-field">
                  <h4>Password</h4>
                  <input [(ngModel)]="password" type="password" name="password" placeholder="Password">
                </div>

                <div class="button-container">
                  <button (click)="login()">Sign in</button>
                </div>

                <div class="form-error" *ngIf="loginError">
                  <p>{{loginError}}</p>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
